header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo{
    width: 200px;
}

.container_nav{
    display: flex;
    gap: 20px;
}


h1{
    font-family: "Pacifico";
    font-size: 60px;
}