header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 200px;
    margin-left: -30px;
}

.container_nav{
    display: flex;
    gap: 20px;
}


h1{
    font-family: "Pacifico";
    font-size: 60px;
    margin-left: -20px;
}